name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.11.1'
      - run: npm ci
      - run: npm test -- --coverage --watchAll=false
      - run: bash <(curl -s https://codecov.io/bash)
